.Input{
width: 85%;
max-width: 550px;
padding: 25px;
border: none;
border-bottom: 3.5px solid #20BF6B;
box-sizing: border-box;
font-weight: 300;
font-size: 25px;
border-radius: 0;
align-self: center;

background-color: transparent;

margin: 0 auto;
}