.Container_Active, .Container_Hidden{
    background-color: #20BF6B;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.Container_Active{
    height: 800px;
}

.Container_Hidden{
    height:100%;
    z-index: 1;
   
    
}

.icon{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}